.jumbotron {
  padding-top: 6rem;
  background-color: #aad4da;
}

section {
  padding-top: 6rem;
}
#nav {
  background-color: #19b3c7;
}

#project {
  background-color: #aad4da;
}

#kirim {
  background-color: #19b3c7;
}

footer {
  background-color: #aad4da;
}
